.design
  &__row
    margin-bottom: -31rem
  &__section-title
    margin-bottom: 1.35rem
  &__text
    color: #363636
  &__pricetag
    bottom: -2.0rem
    padding-right: 5.5rem
    padding-left: 2.214rem
  &__card
    &-text
      margin-top: -8.3rem